<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Action</title>
</head>
<body>
    <!-- {{ if .}}
    Number is greater than 5!
    {{ else }}
    Number is 5 or less!
    {{ end }}  -->
<!-- <ul>
    {{ range .}}
    <li>{{.}}</li>
    {{end}}
</ul> -->

<!-- <div>
    刚开始的.  {{.}}
    {{ with "world"}}
    现在的点是:{{.}}
    {{end}}
    现在又变成了{{.}}
</div> -->

<div>This is tmpl.html</div>
the value of the dot in tmpl.html -[{{.}}]
<p>
    {{template "t1.html"}}
</p>
<p>this is tmpl.html after</p>
</body>
</html>